body div p a {
  text-decoration: none;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid grey;
}
div a {
  text-decoration: none;
}
